In [1]:
import pandas as pd

In [10]:
data=pd.read_csv("weights.csv")
data

        Name  Weight
0       John      61
1       Jack      64
2       Kate      67
3     Claire      51
4    Charlie      35
5    Desmond      17
6     Sayyid      22
7       Hugo      27
8       Rose      84
9    Bernard      52
10    Sawyer      83
11    Juliet     104
12     Miles      27
13  Benjamin      38
14   Mikhail      11

In [27]:
#Outlier Detection
max_threshold = data['Weight'].quantile(0.98)
min_threshold = data['Weight'].quantile(0.05)

In [28]:
data[data['Weight']>max_threshold]

      Name  Weight
11  Juliet     104

In [29]:
data[data['Weight']<min_threshold]

       Name  Weight
14  Mikhail      11